{{!-- page layouts --}}
<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center mx-auto">
            {{!-- insert random photo here --}}
            <img class="burgersImage" src="../images/burgers.jpg" alt="yummy burgers" />
            <h1 class="title">Let's Eat!</h1>
            <form id="form">
                <input type="text" id="input" placeholder="What Burger Would You Like?" />
                <button type="submit" id="submit" class="button submit">Eat!</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="sub-title sub-title-eat mx-auto">Eat These Burgers!</h2>
            <div>
                {{!-- list of burgers that can be eaten --}}
                {{#each burgers}}
                {{#unless eaten}}
                {{> burger-list eaten=false}}
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-sm-6">
            <h2 class="sub-title sub-title-ate mx-auto">These Burgers Have Been Eaten!</h2>
            <div>
                {{!-- list of burgers that have been eaten --}}
                {{#each burgers}}
                {{#if eaten}}
                {{> burger-list eaten=true}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>